<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Life Expectancy App</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class='heading_first'>Life Expectancy Application</span></h2>
            <div class='description'>
    		</div>
    	</div>

                <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/mahaveer-rulaniya/healthify-agriTech"><i class="fab fa-github fa-lg contact-icon"></i></a>

           </div>
           <p class='footer-description'>Made with ❤️ Summer Project 2021</p>
       </div>

        <!-- Prediction Area -->
        <div class="prediction-area">

            <!-- Banner - 1 -->
            <div class='banner-left'>

                <div class="slider-frame">
                    <div class="slide-images-up">

                        <!-- Image-1 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='1.jpg') }}" alt="Healthcare & Agriculture">
                        </div>
                        <!-- Image-2 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='2.jpg') }}" alt="Healthcare & Agriculture">
                        </div>
                        <!-- Image-3 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='3.jpg') }}" alt="Healthcare & Agriculture">
                        </div>
                        <!-- Image-4 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='4.jpg') }}" alt="Healthcare & Agriculture">
                        </div>
                        <!-- Image-5 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='5.jpg') }}" alt="Healthcare & Agriculture">
                        </div>
                        <!-- Image-6 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='6.jpg') }}" alt="Healthcare & Agriculture">
                        </div>
                        <!-- Image-7 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='7.jpg') }}" alt="Healthcare & Agriculture">
                        </div>
                        <!-- Image-8 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='8.jpg') }}" alt="Healthcare & Agriculture">
                        </div>

                    </div>
                </div>

            </div>

            <!-- Prediction Form -->
            <div class='div2'>
                <form action="{{ url_for('predict') }}" method="POST">
                    <!-- Form options -->
                    <label>
                        <input class="form-input" type="text" name="Status" placeholder="*STATUS* - Developing : 0 & Developed : 1">
                    </label><br>
                    <label>
                        <input class="form-input" type="text" name="Adult_mortality" placeholder="*ADULT MORTALITY* - probability of dying between 15 and 60 years per 1000 population">
                    </label><br>
                    <label>
                        <input class="form-input" type="text" name="Alcohol" placeholder="*ALCOHOL* - recorded per capita (15+) consumption (in litres of pure alcohol) eg. 0.01">
                    </label><br>
                    <label>
                        <input class="form-input" type="text" name="Percentage_expenditure" placeholder="% EXPENDITURE on health as a percentage of GDP per capita">
                    </label><br>
                    <label>
                        <input class="form-input" type="text" name="HepatitisB" placeholder="*HEPATITIS B* (HepB) immunization coverage among 1-year-olds (%)">
                    </label><br>
                    <label>
                        <input class="form-input" type="text" name="Measles" placeholder="*MEASLES* - Number of reported cases per 1000 population">
                    </label><br>

                    <label>
                        <input class="form-input" type="text" name="BMI" placeholder="*BMI* eg. 22">
                    </label><br>
                    <label>
                        <input class="form-input" type="text" name="Under_five_deaths" placeholder="*UNDER 5 DEATHS* -Number of under-five deaths per 1000 population">
                    </label><br>
                    <label>
                        <input class="form-input" type="text" name="Polio" placeholder="*POLIO* - (Pol3) immunization coverage among 1-year-olds (%)">
                    </label><br>
                    <label>
                        <input class="form-input" type="text" name="Total_expenditure" placeholder="*TOTAL EXPENDITURE* - General government expenditure on health as a percentage of total government expenditure (%)">
                    </label><br>
                    <label>
                        <input class="form-input" type="text" name="Diphtheria" placeholder="*DIPHTHERIA* - immunization coverage among 1-year-olds (%)">
                    </label><br>
                    <label>
                        <input class="form-input" type="text" name="HIV/AIDS" placeholder="*HIV/AIDS* - Deaths per 1 000 live births HIV/AIDS (0-4 years)">
                    </label><br>

                    <label>
                        <input class="form-input" type="text" name="GDP" placeholder="*GDP* in USD eg. 8000">
                    </label><br>
                    <label>
                        <input class="form-input" type="text" name="Population" placeholder="*POPULATION* - Population of your country ">
                    </label><br>

                    <label>
                        <input class="form-input" type="text" name="Thinness_1-19_years" placeholder="*Prevalence of thinness among children and adolescents* for Age 10 to 19 (% )">
                    </label><br>
                    <label>
                        <input class="form-input" type="text" name="Thinness_5-9_years" placeholder="*Prevalence of thinness among children* for Age 5 to 9(%)">
                    </label><br>
                    <label>
                        <input class="form-input" type="text" name="Income_composition_of_resources" placeholder="Human Development Index in terms of *Income composition of resources* (index ranging from 0 to 1)">
                    </label><br>
                    <label>
                        <input class="form-input" type="text" name="Schooling" placeholder="*SCHOOLING* - Number of years of Schooling(years) eg 10">
                    </label><br>
                    <!-- Form options -->


			<input type="submit" class="myButton" value="Predict">
        	</form>
            </div>

            <!-- Banner - 2 -->
            <div class='banner-right'>

                <div class="slider-frame">
                    <div class="slide-images-down">

                        <!-- Image-1 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='1.jpg') }}" alt="Healthcare & Agriculture">
                        </div>
                        <!-- Image-2 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='2.jpg') }}" alt="Healthcare & Agriculture">
                        </div>
                        <!-- Image-3 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='3.jpg') }}" alt="Healthcare & Agriculture">
                        </div>
                        <!-- Image-4 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='4.jpg') }}" alt="Healthcare & Agriculture">
                        </div>
                        <!-- Image-5 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='5.jpg') }}" alt="Healthcare & Agriculture">
                        </div>
                        <!-- Image-6 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='6.jpg') }}" alt="Healthcare & Agriculture">
                        </div>
                        <!-- Image-7 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='7.jpg') }}" alt="Healthcare & Agriculture">
                        </div>
                        <!-- Image-8 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='8.jpg') }}" alt="Healthcare & Agriculture">
                        </div>

                    </div>
                </div>

            </div>
        </div>



    </body>
</html>